@import "../../style-vars.scss";

.main {
  height: 600px;
  width: 65%;
  background-color: aliceblue;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  position: relative;
  @include shadow;

  &.winning {
    @include shake;
  }

  .top-bar {
    margin: 10px;
    width: 100%;
    border-bottom: 0.5px solid black;
    // height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 25px;
      text-transform: uppercase;
    }
  }

  .spin-button {
    @include font;
    letter-spacing: 1px;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: none;
    padding: 15px 60px;
    background-image: $background-gradient;
    border-radius: 10px;
    color: white;
    transition: all 0.2s linear;
    cursor: pointer;
    @include shadow;

    &:active {
      transform: translateY(10px);
    }
  }

  .balance {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}
